.section {
    margin-top: 0px !important;
}

.mywalletwarp {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.nft-wrap-view {
    width: 18%;
    border: 1px solid rgba(229, 229, 234, 1);
    background: var(--white);
    padding: 14px;
    border-radius: 12px;
    position: relative;
    margin-bottom: 30px;
    transition: .3s ease-in-out;
}

.nft-details h1 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .4px;
    font-weight: var(--font-semibold);
    color: var(--black-2);
    padding: 0;
    margin: 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: default;
    height: 42px;
}

.img-view img,
.img-view iframe {
    width: 100%;
    height: 125px;
    object-fit: contain;
    border: 8px;
    background: var(--white);
}

.borrow_btn,
.sell_btn,
.redeem-btn {
    padding: 8px 14px;
    display: block;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    color: var(--white);
    border: 1px solid transparent;
    background: var(--primary-color);
    transition: .5s all ease-in-out;
    /* z-index: 9; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borrow_btn:hover,
.borrow_btn:focus {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: var(--white);
    transition: .5s all ease-in-out;
}

.sell_btn {
    border: 1px solid transparent;
    background: var(--error-color-2);
    transition: .5s all ease-in-out;
    cursor: pointer;
}

.sell_btn:hover,
.sell_btn:focus {
    color: var(--error-color-2);
    border: 1px solid var(--error-color-2);
    background: var(--white);
    transition: .5s all ease-in-out
}

.cancel_btn {
    font-size: 12px;
    padding: 8px 14px;
    font-weight: var(--font-semibold);
    letter-spacing: -0.25px;
    border-radius: 6px;
    text-align: center;
    color: var(--white);
    border: 1px solid transparent;
    background: var(--error-color-2);
    transition: .5s all ease-in-out;
    cursor: pointer;
}

.cancel_btn:hover,
.cancel_btn:focus {
    color: var(--error-color-2) !important;
    border: 1px solid var(--error-color-2);
    background: var(--white);
    transition: .5s all ease-in-out
}

.redeemview {
    display: flex;
    align-items: center;
    gap: 5px;
}

.orderprocessing {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: var(--font-semibold);
    letter-spacing: -0.25px;
    display: block;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    color: var(--white);
    border: 1px solid transparent;
    background: var(--edit);
    transition: .5s all ease-in-out;
    z-index: 5;
    cursor: pointer;
}

.orderprocessing:hover,
.orderprocessing:focus {
    border: 1px solid var(--edit);
    color: var(--edit);
    background: var(--white);
    transition: .5s all ease-in-out;
}

.sell_btn {
    padding: 8px 14px;
    font-weight: var(--font-semibold);
    letter-spacing: -0.25px;
    border-radius: 6px;
    text-align: center;
    color: var(--white);
    border: 1px solid transparent;
    background: var(--error-color-2);
    transition: .5s all ease-in-out;
    cursor: pointer;
}

.sell_btn:hover,
.sell_btn:focus {
    color: var(--error-color-2) !important;
    border: 1px solid var(--error-color-2);
    background: var(--white);
    transition: .5s all ease-in-out
}

.sell_btn:hover .showtooltip {
    display: block;
}

.cancel-btn:hover .showtooltip {
    display: block;
}

.redeem-btn {
    background: var(--edit);
    color: var(--white);
    transition: .5s all ease-in-out;
    border: 1px solid transparent;
}

.redeem-btn:hover,
.redeem-btn:focus {
    color: var(--edit);
    border: 1px solid var(--edit);
    background: var(--white);
    transition: .5s all ease-in-out;
}

.nftcommonbutton {
    display: none;
}

.nft-wrap-view:hover .nftcommonbutton {
    display: block;
    position: relative;
    z-index: 99999;
}

.showtooltip {
    display: none;
    position: relative;

    & .tooltipinnertext {
        position: absolute;
        bottom: -45px;
        transform: translateY(45px);
        left: 50%;
        background: var(--secondary-color);
        border-radius: 6px;
        color: var(--white);
        padding: 6px;
        font-size: 11px;
        font-weight: var(--font-medium);
        line-height: normal;
        letter-spacing: -0.66px;
        text-align: center;
        width: fit-content;
        transform: translateX(-50%);
        white-space: nowrap;
        z-index: 99;
    }

    & .tooltipinnertext::before {
        content: '';
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent var(--black-5) transparent;
        z-index: -1;
    }
}

.borrow_btn:hover .showtooltip {
    display: block;
}

.sell_btn:hover .showtooltip {
    display: block;
}

.redeem-btn:hover .showtooltip {
    display: block;
}

.redeem-wrap {
    padding: 16px 0px;

    & label {
        color: var(--black-4);
        font-size: 16px;
        font-weight: var(--font-medium);
        line-height: normal;
        letter-spacing: -0.4px;
        margin-bottom: 6px;
    }

    & .form-control {
        border-radius: 8px;
        border: 1px solid var(--hr);
        background: var(--white);
        padding: 16px;
        font-size: 16px;
        font-weight: var(--font-medium);
        color: var(--black-4);
        position: relative;

    }

    & input::placeholder {
        color: var(--grey-2);
        font-weight: 400;
    }

}

label {
    width: 100% !important
}

.loanrequest {
    position: static;
    width: 0;
    height: 100%;
    padding: 14px;
    margin-right: -5px;
    background: var(--bg-secondary);
    display: none;
    z-index: 5;
}

.loanrequest.show {
    display: block;
    width: 400px;
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.common {
    display: flex;
    flex-direction: row;
}

.mywalletwarp {
    width: 100%;
    height: 100%;
}

.mywalletwarp.show {
    width: 70%;
    height: 100%;
}

.mywalletwarp.show .nft-wrap-view {
    width: 22%;
    height: 230px;
    margin-bottom: 30px;
}

input[type="checkbox"] {
    border-radius: 10px;
    cursor: pointer;
}

.nft-wrap-view.one {
    background: rgba(0, 103, 54, .1);
    border: 1px solid var(--primary-color);
}

.nft-wrap-view.one h1 {
    width: 90%;
}

.posselectcurrency {
    position: absolute;
    top: 32px;
    right: 10px;
    min-width: fit-content;
    max-width: 150px;
}

.posselectapy {
    position: absolute;
    top: 35px;
    right: 15px;
    text-align: right;
    min-width: 50px;
    max-width: 100%;
    font-size: 12px;
}

.loanrequest .form-control {
    padding: .70rem .75rem;
    border: 1px solid #D1D1D6;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--font-medium);
    color: var(--black-4);
}

.loanrequest h4 {
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
    font-weight: var(--font-medium);
    padding: 0 0 10px;
    margin: 0;
}

.loanrequest .onboard {
    display: block;
    width: 100%;
    text-align: center;
}

.setloanterms {
    background-color: var(--hr);
    padding: 14px;
    border-radius: 12px;
}

.setloanterms label {
    font-size: 12px;
    line-height: 18px;
    font-weight: var(--font-regular);
    color: var(--grey1);
    padding: 0;
    margin: 0;
}

.close_btn {
    background: rgb(0, 103, 54, .1);
    color: var(--primary-color);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

::placeholder {
    color: rgb(43, 43, 46, .5);
    font-size: 14px
}

.form-select {
    font-size: 13px;
    background: var(--grey1);
    color: var(--white);
    background: var(--grey1) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="white" class="bi bi-caret-down" viewBox="0 0 16 16"><g><path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/></g></svg>') no-repeat;
    background-position: right 10px center;
}

.form-select:focus {
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: none;
}

.mywalletwarps {
    display: flex;
    width: 100%;
    gap: 1rem
}

.mywalletwarps.show {
    width: 100%
}

.mywalletwarps .table-responsive {
    width: 100%;
}

.mywalletwarps.show .table-responsive {
    width: 75%
}

.nft-details {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.nft-details h1 {
    width: 95%
}

.nft-wrap-view.one:hover .nftcommonbutton {
    display: none;
}

.img-view img,
.img-view iframe {
    transition: .5s ease-in-out;
}

.nft-wrap-view:hover {
    transition: .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nft-wrap-view:hover {
    transform: scale(1);
    transition: .3s ease-in-out;
}

.onCheckedbox {
    border: 1px solid #ddd;
}

input[type="checkbox"]:checked {
    opacity: 1;
}

.pos-rel {
    position: relative;
}

.abs {
    position: absolute;
    right: 0;
    top: 5px
}

.youritems {
    position: absolute;
    bottom: 53px;
    left: 0;
    background: var(--secondary-color);
    border-radius: 0px 8px 8px;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--white);
    padding: 5px 7px;
    display: none !important;
    box-shadow: rgba(233, 230, 230, 0.19) 0px 10px 20px, rgba(233, 230, 230, 0.23) 0px 6px 6px;
    border: 1px solid var(--secondary-color);
    word-break: break-word;
}

.youritems:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 12px;
    width: 10px;
    height: 10px;
    background: var(--secondary-color);
    transform: rotate(222deg);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: var(--secondary-color)
}

.tooltip-details:hover+.youritems {
    display: block !important;
    opacity: 1;
}

.add-content {
    display: -webkit-box;
}

.nft-wrap-view.show {
    width: 22%;
}

.nft-wrap-view.one {
    width: 22%;
}

.differniate-other-loan-or-sale {
    background: var(--hr);
    position: relative;
    display: inline-block;
}


.differniate-other-loan-or-sale img.overlay {
    background-color: #E5E5EA;
    mix-blend-mode: darken;
    pointer-events: none;
    border-radius: 9px;
}

/** 5.2 enhancement**/
.buying-value {
    & .buying-value-one {
        padding: 10px 0px;
    }

    & h3 {
        font-size: 8px;
        color: var(--black-3);
        font-weight: var(--font-medium);
        line-height: normal;
        letter-spacing: -0.2px;
        padding: 0 0 3px;
        margin: 0;
    }

    & h4 {
        font-size: 12px;
        color: var(--black-2);
        font-weight: var(--font-semibold);
        line-height: normal;
        letter-spacing: -0.3px;
        padding: 0;
        margin: 0;
    }

    .notsale {
        font-size: 10px;
        color: var(--black-2);
        font-weight: var(--font-medium);
        letter-spacing: -0.25px;
        border-radius: 6px;
        background: var(--scrollbar-default);
        padding: 3px;
        display: block;
        width: 100%;
        display: block;
        text-align: center;
    }
}

table>tbody>tr.greyshades>td {
    background: var(--hr) !important;
}

.dropdown {
    & .btn-filter.show {
        background: rgba(0, 103, 54, 0.10);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    & .dropdown-menu {
        padding: 9px 8px;
        min-width: 238px;
        max-height: auto;
        overflow-y: auto;
        border-radius: 0px 0px 12px 12px;
        border: 1px solid var(--hr);
        background: var(--bg-secondary);
        box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
    }

    & .dropdown-toggle::after {
        display: none;
    }

    & .dropdown-toggle.show::after {
        display: none;
    }

    & li {
        font-size: 14px;
        color: var(--secondary-color);
        font-weight: var(--font-medium);
        line-height: normal;
        letter-spacing: -0.84px;
        padding: 14px 11px;
        transition: .3s ease-in-out;
        cursor: default;
    }

    & li.active {
        border-radius: 8px;
        transition: .3s ease-in-out;
        background: rgba(0, 103, 54, 0.10);
    }

    & li:hover {
        border-radius: 8px;
        transition: .3s ease-in-out;
        background: rgba(0, 103, 54, 0.10);
    }

    & li.divider {
        width: 100%;
        height: 1px;
        background: var(--hr);
        padding: 0;
        margin: 4px 0;
    }
}

.commonspaces {
    display: flex;
    flex-direction: row;
    padding: 0px 16px 0 0;
}

.btn.btn-light {
    padding: 8px 5.5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 12px;
    transition: .3s ease-in-out;
}

.commonspaces.sampleview .newfilter {
    top: 90px !important;
}

.gridview.sampleview {
    width: calc(100% - 320px);
    position: relative;
    left: 320px;

    & .nft-wrap-view {
        width: 23%;
        margin-bottom: 0;
    }

    .mywalletwarp {
        gap: 24px;
    }
}

.btn.btn-light:hover,
.btn.btn-light:focus {
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: rgba(0, 103, 54, 0.10);
    transition: .3s ease-in-out;
    padding: 8px 5.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6;
    font-size: 12px;
    transition: .3s ease-in-out;
}

.btn.btn-light i {
    opacity: .5;
}

.pr-4 {
    padding-right: 20px;
}

.pr-8 {
    padding-right: 30px;
}

.tableview .redeem-btn .showtooltip {
    & .tooltipinnertext {
        left: -8px !important;
    }
}

@media(max-width:1280px) {
    .gridview.sampleview {
        & .nft-wrap-view {
            width: 31%;
            margin-bottom: 0;
        }
    }

    .nft-wrap-view {
        width: 22%;
    }
}

@media(max-width:1199px) {
    .loanrequest h4 {
        font-size: 20px;
    }

    .mywalletwarp.show {
        width: 28%;
    }

    .nft-wrap-view,
    .nft-wrap-view.show,
    .nft-wrap-view.one {
        width: 28%;
    }
}

@media(max-width:1024px) {

    .mywalletwarp.show {
        width: 100%;
    }

    .common {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .mywalletwarp.show .nft-wrap-view {
        width: 47%;
    }

    .loanrequest.show {
        width: 98%;
    }

    .gridview.sampleview {
        width: calc(100% - 280px);
        position: relative;
        left: 280px;

        & .nft-wrap-view {
            width: 48%;
            margin-bottom: 0;
        }
    }

    .nft-wrap-view,
    .nft-wrap-view.show,
    .nft-wrap-view.one {
        width: 30%;
    }

    .nft-wrap-view {
        width: 30%;
    }
}

@media(max-width:767px) {

    .mywalletwarp.show {
        width: 100%;
    }

    .common {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .mywalletwarp.show .nft-wrap-view {
        width: 100%;
    }

    .loanrequest.show {
        width: 100%;
    }

    .pr-0 {
        padding-right: -15px !important;
    }

    .loanrequest {
        padding: 10px 10px;
    }

    .loanrequest h4 {
        font-size: 16px;
        line-height: 30px;
    }

    .loanrequest {
        z-index: inherit;
    }

    .gridview.sampleview {
        & .nft-wrap-view {
            width: 29%;
            margin-bottom: 0;
        }
    }

    .setloanterms {
        padding: 10px;
    }

    .nft-wrap-view,
    .nft-wrap-view.show,
    .nft-wrap-view.one {
        width: 46%;
    }
}

@media(max-width:575px) {
    .gridview.sampleview {
        & .nft-wrap-view {
            width: 46%;
            margin-bottom: 0;
        }
    }

    .nft-wrap-view,
    .nft-wrap-view.show,
    .nft-wrap-view.one {
        width: 46%;
    }
}

@media(max-width:480px) {
    .gridview.sampleview {
        & .nft-wrap-view {
            width: 90%;
            margin-bottom: 0;
        }
    }

    .nft-wrap-view,
    .nft-wrap-view.show,
    .nft-wrap-view.one {
        width: 44%;
    }
}

@media(max-width:400px) {
    .form-select {
        font-size: 14px;
    }

    .posselectcurrency {
        top: 32px;
        right: 5px;
        min-width: 70px;
        max-width: 150px;
    }

    .nft-wrap-view,
    .nft-wrap-view.show {
        width: 100%;
    }
}

.px-26 {
    padding: 0 26px !important;
}

.cancel-btn {
    border-radius: 6px;
    border: 1px solid transparent;
    background: var(--scrollbar-default);
    padding: 8px 17px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.5px;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    cursor: pointer;
    width: 154px;

    & .cancel-btn:hover,
    .cancel-btn:focus {
        background: var(--scrollbar-default);
        transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}

.nft-collection {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .4px;
    font-weight: var(--font-medium);
    color: var(--grey-2);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0px 0 0;
    margin: 0;
}

.bids-count {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 4px 12px;
    background: var(--primary-color);
    color: var(--white);
    font-size: 12px;
    line-height: 17px;
    font-weight: var(--font-semibold);
    letter-spacing: 0.3px;
    border-radius: 6px;
}


/** bids**/
.custom-countrycode {
    position: relative;
}

.custom-countrycode {
    & .form-select {
        position: absolute;
        top: 3px;
        left: 4px;
        width: 100px;
        z-index: 1;
        padding: 14px;
        border-radius: 0;
        border: none;
        background: var(--white);
        color: var(--secondary-color);
    }

    & .form-select:focus,
    .form-select:focus-visible {
        border: none;
        box-shadow: none;
    }

    & .form-control {
        position: relative;
        padding-left: 105px;
    }

    & .dropdown-menu.show {
        width: calc(345px - 20px);
        height: 140px;
        overflow-y: auto;

        & .form-control {
            border-radius: 8px;
            border: 1px solid var(--hr);
            background: var(--white);
            padding: 16px;
            font-size: 16px;
            font-weight: var(--font-medium);
            color: var(--black-4);
            word-break: break-word;
        }
    }

    & a {
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 14px;
        font-weight: var(--font-regular);
        white-space: normal;
    }
}

.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    transform: rotate(315deg);
    width: 100px;
    display: block;
    background: var(--primary-color);
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon span::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--primary-color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--primary-color);
}

.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: -1;
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--primary-color);
}

.ribbon-defaulted span {
    background: var(--cancel) !important;
}

.ribbon-defaulted span::before {
    border-right: 3px solid var(--cancel);
    border-top: 3px solid var(--cancel);
}

.ribbon-defaulted span::after {
    border-left: 3px solid var(--cancel);
    border-top: 3px solid var(--cancel);
}