
  p{
    font-family:Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #64748B !important;
    padding: 0 0 36px;
    margin: 0;
  }
  h4{
    font-family:Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #0F172A !important;
    text-transform: uppercase;
    padding: 0 0 18px;
    margin: 0;
  }
  label{
    font-family: Source Code Pro;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: #2C2C2E;
  }
  .form-control{
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #0F172A;
  }
  .password_pos{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(174, 174, 178, 1);
  }
  p a{
    color: #006736;
  }
  .linkexpired{
    border: 1px solid #ddd;
    padding: 50px 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .slidetext{
    position: absolute;
    left: 50%;
    width: 100%;
    bottom: 30px;
    transform: translateX(-50%);
    & p{
      color: var(--white) !important;
    }
  }
 
  @media(max-width:991px){
    .slidetext{
      bottom: 10px;
    }
  }