.market{
    background: url(../../../assets/images/dashboard-bg.png) no-repeat;
    background-size: cover;
    border-radius: 12px !important;
}

.market-wrap{
    padding: 20px 0px 0px;
    height: 220px;
}

.market-item-img img{
    width: 300px;
    height: 233px;
    position: relative;
    top: -18px;
}
.market-item-img-sec img{
    width: 249px;
    height: 233px;
    position: relative;
    top: -33px;
}
.market-item-img-third img{
    width: 249px;
    height: 243px;
    position: relative;
    top: 5px;
}
.market-item-img-fourth img{
    width: 250px;
    height: 230px;
    position: relative;
    top: -33px;
}
.market-view{
    padding: 20px 0px 15px 25px;
}
.market-wrap h1{
    color:var(--black-4);
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -1.12px;
    margin: 0 0 5px;
    padding: 0;
}
.market-wrap p{
    color:var(--black-3);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;;
    margin: 0 0 30px;
    padding: 0;
}
.browse{
    padding: 6px 12px ;
    border-radius: 8px;
    background: var(--primary-color);
    font-size:14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
    transition: .25s ease-in-out;
    cursor: pointer;
}
.browse:hover{
    transition: .25s ease-in-out;
    background:rgba(0, 103, 54,.8);
}
.dashboard-onboard{
    border-radius: 12px;
    background: var(--white);
    padding: 22px 20px;
    position: relative;
    margin-top:20px;
}
.dashboard-onboard h2{
    display: flex;
    gap: 8px;
}
.dashboad-innerline{
    position: absolute;
    top: 45%;
    width: 155px;
    height: 1px;
    background: var(--border-grey-1);
    right: 0;
    transform: translateY(-45%);
}
.dashboard-onboard h2{
    font-size:16px;
    line-height:26px;
    font-weight: var(--font-semibold);
    color: var(--primary-color);
    letter-spacing: -0.5px;
    padding: 0;
    margin: 0;
}
.dashboard-onboard h3,.itemscount h3{
    font-size:16px;
    line-height:26px;
    font-weight: var(--font-semibold);
    letter-spacing: -0.5px;
    padding: 0 20px 0 20px;
    margin: 0;
    color: var(--black-4);
}
.itemscount h3{
    font-size: 20px;
    padding: 0;
    word-break: break-word;
}
.dashboard-onboard img{
    margin-top: -30px;
}
.dashboard-card{
    padding: 14px 20px;
    border-radius: 12px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.card-inner{
    display: flex;
    align-items: baseline;
    height: 100%;
    gap:12px;
}
.card-inner h3, .transacation-wrap h3{
    color:var(--black-3);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
    padding: 0 0 14px;
    margin: 0;
}

.transacation-wrap h3{
    color: var(--black-4);
    padding: 0;
}
.hrlines{
    background: var(--border-grey-1);
    width:204px;
    height: 1px;
    margin: 6px 0 0 auto;
    position: relative;
    right: -20px;
}
.itemscount{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 6px;
    padding: 15px 0px 0px;
}
.itemscount h4{
    color: var(--black-3);
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.3px;;
    padding: 0;
    margin: 0;
}
.transacation-wrap{
    background: var(--white);
    position: relative;
    border: 1px solid var(--border-grey-1);
    border-radius: 12px !important;
    height: 100%;
}
.transacation-head,.transacation-footer{
    padding: 10px 20px;
    background: #F9F9F9;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.transacation-body{
    padding: 0px 0px;
}
.transacation-body thead{
    padding: 10px 0px;
   
}
.transacation-head{
    border-radius: 0px 0px 0 0;
}
.transacation-footer {
    border-radius: 0 0 12px 12px ;
}
.transacation-body thead th{
    color:  var(--black-4);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.3px;
    padding: 10px 15px;
    background: #F9F9F9;
    white-space: nowrap;
}
.transacation-body thead th:first-child{
    border-top-left-radius: 12px;
}
.transacation-body thead th:last-child{
    border-top-right-radius: 12px;
}
.links{
    color: var(--link);
}
table>:not(caption)>*>* {
    padding: 10px 15px;
    border-bottom-width: 0;
}
a.title{
    color: var(--link);
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    overflow: hidden;
    display: -webkit-box;
    width: 146px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.purchase{
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid var(--hr);
    background: var(--scrollbar-default);
    font-size: 8px;
    font-weight: 400;
    color: var(--black-4);
    letter-spacing: -0.2px;
    cursor: text;
    white-space: nowrap;
    text-align: center;
}
.price,.wallet, .external{
    color: var(--black-4);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.3px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding: 0;
    margin: 0;
}
.price{
    color: var(--black-4);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.3px;
    padding: 0;
    margin: 0;
}
.wallet{
    color: var(--link);
}
.external{
    width:48px;
}
.datetime{
    color: var(--black-3);
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: -0.25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding: 0;
    margin: 0;
}
.table{
    margin-bottom: 50px ;
}
.viiewall{
    color:var(--primary-color);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.3;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.borrowing-detail{
    background: #fff;
    border-radius: 12px;
}
.borrowing-detail ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #F9F9F9;
    border-radius: 12px 12px 0 0;
}
.borrowing-detail ul li{
    width: 100%;
    padding: 10px 15px 10px;
    color: var(--grey-2);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.4px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    background: #F9F9F9;
    border-radius: 12px 12px 0 0;
}
.borrowing-detail ul li.activies{
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.borrow-detail-view{
    padding: 16px 16px 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--font-regular);
    text-align: center;
}
.borrow-inner-wrap{
    padding: 0px;
    cursor: pointer;
}

.borrow-inner-wrap h3{
    color: var(--secondary-color);
    font-size: 14px;
    text-align: left;
    font-weight: var(--font-medium);
    line-height: 20px;
    letter-spacing: -0.35px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding: 0;
    margin: 0;

}
.borrow-inner-wrap h4{
    color: var(--black-3);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.3px;
    padding: 0 0 8px;
    margin: 0;
}
.borrow-inner-wrap h5{
    color: var(--black-3);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.3px;
    padding: 0;
    margin: 0;
}
.borrow-inner-wrap h5.dueDetail{
    color: var(--cancel);
}
.borrow-inner-wrap h5.forloanDetail{
    color: var(--edit);
}
.cutsomlines{
    background: var(--border-grey-1);
    height: 1px;
    width: 100%;
    margin: 16px auto 0;
}
.scroll-height{
    max-height: calc(370px - 40px);
    overflow-y: auto;
}
.browse {
    & img{
        width: 18px !important;
        height: 18px !important
    }
}
@media(max-width: 1024px){
    .custom-mb{
        margin-bottom: 25px;
    }
    .dashboard-onboard h3, .itemscount h3 {
        padding: 20px 0px 0px;
    }
    .dashboad-innerline{
        top:50%;
        transform: translateY(-50%);
    }
    .market-wrap h1 {
        font-size: 24px;
    }
    .market-wrap p {
        font-size: 16px;
    }
    .borrow-detail-view{
        padding: 16px 16px;
    }
    table > :not(caption) > * > * {
        padding: 10px 5px;
        border-bottom-width: 0;
    }

    .market-wrap{
        height: auto;
    }
}
@media(max-width:575px){
    .borrowing-detail ul li {
        padding: 10px 10px 10px;
        font-size: 14px;
    }
    .market-view {
        padding: 15px 15px 35px;
    }
    .market-wrap p{
        margin: 0 0 15px;
    }
    .browse{
        white-space: nowrap;
        padding: 10px;
        font-size: 14px;
    }
    
}
.c-gap-6{
    column-gap: 6px;
    align-items: baseline;
}
.last-item{
    margin-bottom: 40px;
}